.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
  background-color: black;
}

.hero {
  background-color: black;



}

.nav {
  color: white;
  border: 5px color white;
  height: 100px;
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;


}

.nav_center ul {
  display: flex;
  gap: 15px
}

.nav_center ul li {
  list-style: none;

}